
%script#new_todo(type='text/template')
  %form
    %label(for="todo") Todo
    %input#todo(type="text")

    %br
    %label(for="date") Due Date
    %input#due_date(type="text")

    %br
    %button Create
